[submodule "INT2215 - Lập trình nâng cao/INT2215-project-Tetris"]
	path = INT2215 - Lập trình nâng cao/INT2215-project-Tetris
	url = https://github.com/brownfox2k6/INT2215-project-Tetris.git

[submodule "INT2204 - Lập trình hướng đối tượng/LibraryManagementSystem"]
	path = INT2204 - Lập trình hướng đối tượng/LibraryManagementSystem
	url = https://github.com/brownfox2k6/LibraryManagementSystem
